<!DOCTYPE html>

<html
    lang="en"
    xmlns:html="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    >

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            .grey {
                background: grey;
                color: white;
            }
        </style>
        <title>Courses</title>
        
    </head>
    <body>
        <header><h1>Courses</h1></header>
        <div>
            <table id="courses-table" summary="courses">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Subject</th>
                        <th scope="col">Title</th>
                        <th scope="col">Offered</th> 
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="course: ${courses}"
                    th:classappend ="${course.offered} ? '' : 'grey'">
                        <td th:text="${course.id}"></td>
                        <td th:text="${course.subject}"></td>
                        <td th:text="${course.title}"></td>
                        <td th:text="${course.offered}"></td>
                        <td>
                          <a th:href="@{/update/{id}(id = ${course.id})}">update</a> | 
                          <a th:href="@{/details/{id}(id = ${course.id})}">details</a> | 
                          <a th:href="@{/delete/{id}(id = ${course.id})}">delete</a>
                        </td>
                  </tr>
                </tbody>
            </table>
            <p><a th:href="@{/add}">Add new course</a></p>
        </div>
    </body>
</html>
